/* font-family: "Raleway", sans-serif */
*{
    margin:0;
    padding:0;
}

.navbar{
  display: flex;
  align-items: center;
  justify-items: center;
  /* position: sticky; */
  top: 0;
  cursor: pointer;
  /* background: url(img/waste.png); */
  background-color: white;
  /* padding: 5px 0px; */
  margin: 1px;
}
.logo{
  padding: 1px 0px;
  color: white;
  margin: -35px -3px;
  display: flex;
  /* margin: 0px 0px;*/
}

.logo img{
  width: 135px;
  height: 19vh;
  margin: -10px 2px;
  padding: 18px 0px;
  /* border: 3px solid white; */
  /* border-radius: 50px; */
  /* background-color: white; */
  /* padding: 34px 0px;*/
  }
.logo1{
  display: none;
}
.navlist{
  width: 70%;
    display: flex;
    align-items: center;
    text-size-adjust: 20%;
    padding: 0px 530px;
}
.heading{
  width: -17%;
  display: block;
  text-size-adjust: 20%;
  /* color: #cea600; */
  color:#ccc;
  padding: 48px 1px;
  text-align: center;
  flex: none;
  font-size: 20px;
}
.navlist li{
    list-style: none;
    padding: 15px 30px;

}
.navlist li a{
    text-decoration: none;
    color: white;
    font-size: large;
    font-size: 120%;
}
.navlist li a:hover{
    text-decoration: none;
    color: grey;

}
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown  {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .reg:link {
    color:white;
    background-color: transparent;
    text-decoration: none;
  }
  .reg:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  .reg:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  .reg:active {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
  }
  .navbar a:hover, .dropdown:hover{
    background-color: white;
  }
  .dropbtn:hover{
    background-color: gray;
  }
  hr{
    padding:5px 10px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background: url('nav\ bg.png'); 
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 13px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .slide{
    margin: 2px 0px;
  }
  .mySlides{
    height:84vh;
    /* position: sticky; */
    display: flex;

  }
  #changer3{
    height:80vh;
  }
  .imp{
    display: flex; 
    padding:2px 2px;
    top:0;
    cursor: pointer;
  }
  .news{
    display: flex;
    width:10%;
    height: 6vh;
    margin: 6px;
    color: white;
    background: url('nav\ bg.png');
    box-shadow: 0px 8px 16px 0px rgba(205, 204, 204, 0.2);
    
    font-size: 16px; 
    /* padding:2px 50px; */
  }
  .notice{
    width: 90%;
    border: 2px solid gray;
    height: 6vh;
    margin: 6px;
    color: black;
    background-color: white; 
    box-shadow: 0px 8px 16px 0px rgba(158, 156, 156, 0.2);
    font-size: 16px;
    padding:2px 50px;
    font-family: "Raleway", sans-serif;
  }
  .last{
    text-align: center;
    padding: 30px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    position: sticky;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:white;
}

a:hover {
  color:white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
b{
    margin:2px;
}
* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 200%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
  justify-content:center;
    background-color: #ccc;
    color: black;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #ccc;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px ;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.contact{
    font-family: Arial, Helvetica, sans-serif;
  }
#mar{
    color:black;
}
#mar:hover{
       color: purple;
  }
.content{
      height:75vh;
      color: #000!important;
      /* background-color: #f1f1f1!important; */
      margin:10px 10px;
      box-shadow: 5px 10px 8px 10px #888888; 
}
.btn2:hover{
  color:white;
}
.btn20:hover{
  color:white;
}
/* .content {

  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  /* 0%   {background-color:red; left:0px; top:0px;} 
  25%  {background-color:yellow; left:200px; top:0px;}} */
  .image0{
    margin:24px -50px;
    /* -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent); */
  }
  .image00{
    margin:24px -50px;
    /* -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent); */
  }
  h2{
    color: #0d3273;
    margin: -4px 77px;
    font-size: 40px;
    padding: 10px 10px;
    font-family: SourceSansPro,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Fira Sans,sans-serif;
  }
  h1{
    color: #0d3273;
    margin: -4px 39px;
    font-size: 40px;
    padding: 10px 10px;
    font-family: SourceSansPro,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Fira Sans,sans-serif;
  }
  .head{
      color: #0d3273;
      margin: 0px 0px;
      font-size: 28px;
      padding: 0px 24px;
      font-family: SourceSansPro,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Fira Sans,sans-serif;
  }
  h5{
    color: black;
    margin: 2px 77px;
    font-size: 20px;
    padding: 10px 10px;
    font-family: SourceSansPro,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Fira Sans,sans-serif;
  }
  .expcon0{
    background-color:#0d3273;
   height: 50vh;
    color:#f1f1f1;
    padding:25px 124px;
    display:flex;
    flex-direction: column;
    margin: -185px 10px;
    position: sticky;
    /* border-left:13px solid #bc087a;
    border-top:13px solid #bc087a; */
  }
  .extra {
    background-color: #bc087a;
    width: 71%;
    color: #f1f1f1;
    padding: 110px 0px;
    display: flex;
    flex-direction: column;
    margin: -332px -402px;
    position: sticky;
}
.extra:hover{
  border: 1px solid;
  box-shadow: 5px 10px 18px #bc087a;
}
.expcon0:hover{
  border: 1px solid;
  box-shadow: 5px 10px 18px #0d3273;
}
.extra0:hover{
  border: 1px solid;
  box-shadow: 5px 10px 18px #bc087a;
}
.expcon00:hover{
  border: 1px solid;
  box-shadow: 5px 10px 18px #0d3273;
}
.extra0 {
  background-color: #bc087a;
  width: 71%;
  color: #f1f1f1;
  padding: 110px 0px;
  display: flex;
  flex-direction: column;
  margin: -332px -402px;
  position: sticky;
}
  .expcon00{
    background-color:#0d3273;
    height: 50vh;
     color:#f1f1f1;
     padding:25px 124px;
     display:flex;
     flex-direction: column;
     margin: -185px 10px;
     position: sticky;
  }
  .box{
    background-color: #bc087a;
    width:65%;
    color:#f1f1f1;
    padding:53px 10px;
    display:flex;
    flex-direction: column;
    margin: -384px -391px;
    position: sticky;
    border-left:13px solid #bc087a;
    border-top:13px solid #bc087a;
  }
.contentdiv{
  height:100vh;
      color: #000!important;
      background-color: #f1f1f1!important;
      margin:124px 20px;
      box-shadow: 5px 10px 8px 10px #888888;
}



.span{
    display: none; 
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:15px;
    color: white;
}
.closebtn{
display: none; 
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:15px;
    color: white;
}

.txt1{
    font-size: 50px;
    color: #0d3273;
    
  font-family: SourceSansPro,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Fira Sans,sans-serif;
}
.underline{
  color: #cea600;
  width:20px;
  height:5vh;
  padding:10px 10px;
}

.scho1{
  width: 45%;
    /* border: 2px solid gray; */
    display: flex;
    height: 32vh;
    /* margin: 75px 17px; */
    /* color: black; */
    background-color: #bc087a;
    box-shadow: 0px 8px rgb(158 156 156 / 20%);
    /* z-index: 1; */
    margin: 88px 42px;
    /* font-size: 25px; */
    padding: 0px 54px;
    /* background: url(waste.png); */
    font-family: "Raleway", sans-serif;
    /* text-align: center; */
    /* display: flex; */
    /* border-right:13px solid #bc087a;
    border-bottom:13px solid #bc087a; */
}
.scho1:hover{
  border: 1px solid;
  box-shadow: 5px 10px 18px #bc087a;
}
.scho2{
  width: 45%;
    /* border: 2px solid gray; */
    display: flex;
    height: 32vh;
    /* margin: 75px 17px; */
    /* color: black; */
    background-color: #0c746a;
    box-shadow: 0px 8px rgb(158 156 156 / 20%);
    /* z-index: 1; */
    margin: 88px 12px;
    /* font-size: 25px; */
    padding: 0px 54px;
    /* background: url(waste.png); */
    font-family: "Raleway", sans-serif;
    /* text-align: center; */
    /* display: flex; */
    /* border-right:13px solid #bc087a;
    border-bottom:13px solid #bc087a; */
}
.scho2:hover{
  border: 1px solid;
  box-shadow: 5px 10px 18px #0c746a;
}
.edu{
    font-size: 26px;
    margin:-46px 0px;
    color: black;
    font-family: SourceSansPro,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Fira Sans,sans-serif;
}
.image{
  margin: -34px -52px;
  padding: 32px 0px;
  height: 296px;
  width: 361px;
}
.image1{
  margin: -34px -52px;
  padding: 32px 0px;
  height: 296px;
  width: 361px;
}

.txt{
  font-size: 24px; 
    /* padding: 83px 114px; */
    /* font-family: "Raleway", sans-serif; */
    /* width: 90%; */
    color: white;
    /* margin: 5px -11px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* min-height: 80vh; */
    margin: -2px 40px;
    padding: 0px 75px;
    font-size: 30px;
    font-family: SourceSansPro,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Fira Sans,sans-serif;
}

.txt00{
  font-size: 24px; 
    /* padding: 83px 114px; */
    /* font-family: "Raleway", sans-serif; */
    /* width: 90%; */
    color: white;
    /* margin: 5px -11px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* min-height: 80vh; */
    margin: -2px 40px;
    padding: 0px 75px;
    font-size: 30px;
    font-family: SourceSansPro,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Fira Sans,sans-serif;
}
.txt2{
  font-size: 25px;
    padding: 12px 50px;
    font-family: "Raleway", sans-serif;
    width: 90%;
    color: white;
    margin:10px 50px;
}
.Button{
  margin: 174px 0px;
}
.Button00{
  margin: 174px 0px;
}
.join{
  display: flex;
  flex-direction: row;
  margin: 10px 43px;
}
.btn{
  /* font-size: 16px; */
    padding: 8px 5px;
    font-family: "Raleway", sans-serif;
    border-radius: 2px;
    color: white;
    background-color: #bc087a;
    margin: -8px -300px;
    font-size: 24px;
}
.btn00{
  /* font-size: 16px; */
    padding: 8px 5px;
    font-family: "Raleway", sans-serif;
    border-radius: 2px;
    color: white;
    background-color: #0c746a;
    margin: -8px -315px;
    font-size: 24px;
}
.btn:hover{
  color:white;
}
.btn:visited{
  color:white;
}
.btn::before{
  color: white;
}
.btn::after{
  color: white;
}
.btn1{
  font-size: 16px;
    margin: 30px;
    padding: 20px 60px;
    font-family: "Raleway", sans-serif;
    border-radius: 15px;
    color: white;
    /* width: 2%; */
    background: url('waste.png');
    cursor: pointer;
}
.btn1:hover{
  background: url('waste2.png');
}
.arrow{
  color:#9b7d02
}
.btn2{
  font-size: 16px;
    margin: 34px -450px;
    padding: 12px 41px;
    font-family: "Raleway", sans-serif;
    border-radius: 15px;
    color: white;
    /* width: 2%; */
    /* background: url('waste.png'); */
    background-color:#0d3273;
    cursor: pointer;
    display: block;
}
.btn20{
  font-size: 16px;
    margin: 34px -450px;
    padding: 12px 41px;
    font-family: "Raleway", sans-serif;
    border-radius: 15px;
    color: white;
    /* width: 2%; */
    /* background: url('waste.png'); */
    background-color:#0d3273;
    cursor: pointer;
    display: block;
}
.content{
  margin:19px 20px;


}

.different{
  margin:40px 50px;
}
.scholarship-for{
  font-size: 50px;
  text-align: center;
  justify-content: center;
}
.overlay{
  display:none;
}
h6{
  
  color: white;
    margin: -14px -39px;
    padding: 8px 45px;
    width: 199%;
}
.explore{
  
  background-color: #f1f1f1!important;  
  /* background: url('img/waste2.png'); */
  /* background-size: cover; */
  /* background: url('img/waste2.png'); */
  /* margin:5px; */
  height:100vh;
  font-family: "Raleway", sans-serif;
  /* box-shadow: 5px 10px 8px 10px #888888; */
}
.explore0{
  height:100vh;
  font-family: "Raleway", sans-serif;
  /* box-shadow: 5px 10px 8px 10px #888888; */
}
.main{
  height:30vh;
  color: #000!important;
  margin:71x 51px;
  /* display: flex;
  flex-direction: column; */
}
.main0{
  height:30vh;
  color: #000!important;
  margin:71x 51px;
  /* display: flex;
  flex-direction: column; */
}
h4{
  padding:61px 1px;
 
  /* color: #000!important; */
  color:white;
  margin:-48px -75px;
  text-align: left;
}
h3{
  padding: 19px 8px;
    font-size: 38px;
    width: 98%;
    /* color: #000!important; */
    color: white;
    margin: -224px 31px;
    text-align: left;
}
/* .txt{
  margin: 10px 10px;

} */
.exp-con{
    /* display: flex; */
    font-size: 20px;
    text-align: center;
    margin: 10px; 
    padding:36px 459px; 
}
.exp-con0{
  /* display: flex; */
  font-size: 20px;
  text-align: center;
  margin: 10px; 
  padding:36px 459px; 
}
.design{
    /* display: flex; */
    font-size: 20px;
    text-align: center;
    margin: -325px 131px; 
    padding:186px 17px;
    background-color: #bc087a ;
    width: 36%;
  }
  .designin{
    /* display: flex; */
    font-size: 20px;
    text-align: center;
    margin: -292px -49px; 
    padding:227px 71px;
    width:109%;
    background-color:#0d3273;
  }
  .section{
    height:95vh;
  }
  .maindes{
    margin:0px 0px;
    padding:0px 0px;
  }
  .md{
    margin:-258px 0px;
    padding:0px 0px;
    position:relative;
  }
.para{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  /* color:white; */
}
.para001{
  display: flex;
  flex-direction: column;

}
.para0{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  /* color:white; */
}
.but{
  margin: -10px 370px;

}
.but0{
  margin: -10px 370px;

}
.mar{
  z-index: 0;
}

@media screen and (max-width: 758px) 
{
  .txt2 {
    font-size: 18px;
    padding: 35px 1px;
    font-family: "Raleway", sans-serif;
    /* width: 59%; */
    color: white;
    margin: 15px -28px;
    display: flex;
    flex-direction: column;
    /* width: 50px; */
}

  .overlay{
    display:flex;
  }
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    .column {
      width: 100%;
    }
    .navbar{
        flex-direction: column;
        height: 12vh;
        /* background-color: #f1f1f1!important; */
        background-color: white;
    }
    .navlist{
        flex-direction: column;
        height: 4vh;
        display: none;
    }
    .dropdown-content{
        flex-direction: column;
        float: right;
        display: none;
    }
    .span{
        display: block;
    }
     /* .hide{
        opacity: 0;
    }  */
    .content{
      height: 126vh;
    padding: 45px 0px;
    }
    .extra {
      background-color: #bc087a;
      width: 101%;
      color: #f1f1f1;
      padding: 103px 27px;
      display: flex;
      height: 55vh;
      flex-direction: column;
      margin: -63px -7px;
      position: sticky;
  }
    .contentdiv{
      height: 173vh;
      margin: 344px 23px;
    }
    .Button{
      /* display: block;
      width: 100%; */
      padding: 9px 0px;
      flex-direction: column;
    }
    .Button00{
      /* display: block;
      width: 100%; */
      padding: 9px 0px;
      flex-direction: column;
    }
    .scho1{
      width: 120%;
    height: 80vh;
    display: block;
    margin: 82px -25px;
      /* height:20vh; */
    }
    .scho2{
      width: 120%;
    height: 80vh;
    display: block;
    margin: -43px -25px;
      /* height:20vh; */
    }
    .scho1:hover{
      border: 1px solid;
      box-shadow: 5px 10px 18px #bc087a;
    }
 
    .scho2:hover{
      border: 1px solid;
      box-shadow: 5px 10px 18px #0c746a;
    }
    .txt{
      font-size: 25px;
    padding: 0px;
    display: block;
    width: 108%;
    margin: 55px 1px;
    }
    .txt00{
      font-size: 25px;
    padding: 0px;
    display: block;
    width: 108%;
    margin: 55px 1px;
    }
    .btn{
      font-size: 30px;
      margin: 3px -22px;
    }
    .btn00{
      font-size: 29px;
      margin: -43px -41px;
    }
    .txt{
      font-size: 36px;
    }
    .txt00{
      font-size: 36px;
    }
    .join {
      display: flex;
      flex-direction: column;
      margin: 10px 39px;
      }
    .news{
      width:30%;
    }
    .logo {
      /* width: 400px;
      display: block; */
      /* justify-content: center; */
      /* align-items: center; */
      padding: 4px 0px;
      margin: 3px -2px;
  }
  .logo img{
    margin: -31px 2px;
  }
  h6{
    color: white;
    margin: -44px 67px;
    padding: 12px 21px;
  }
  .overlay {
    height: 100%;
    width: 99%;
    display: none;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    /* left: 0; */
    /* background: url(nav\ bg.png); */
    background-color: white;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
   a{
    text-decoration: white;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
    .overlay a {font-size: 20px;
    margin:5px 138px;
  }
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    color:#0d3273
    }
    .myNav{
        width:50px;
    }
    #changer3{
      height:40vh;

    }
    .mySlides{
      height:25vh
    }
  
  .span{
    /* padding: 20px 1750px; */
    color: #0d3273;
    margin: 23px 16px;
  }
  .logo1{
    width: 30px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 2px 30px;
    color:white;
    display: none;
}
.logo1 img{
    width: 70px;
    border:3px solid white;
    border-radius: 50px;
    background-color: white;
    
}
.btn1{
  font-size: 16px;
    margin: 5px 10px;
    padding: 15px 15px;
    /* font-family: "Raleway", sans-serif; */
    border-radius: 15px;
    /* color: white; */
    /* width: 2%; */
    /* background: url(img/waste.png); */
    /* display: block; */
    background: url('waste.png');
    cursor: pointer;
}
.btn1:hover{
  background: url('waste2.png');
}
.explore{
  height:50vh;
}
.explore0{
  height:50vh;
}
h4{
  font-size: 23px;
    /* padding: 0px 1px; */
    margin: 84px 0px;
    width: 256px;
    text-align: left;
}
/* .but{
  margin: 62px -28px;
} */
.map{
  width: 300px;
  padding: 0px 0px;
  margin: 19px 25px;
}
.or{
  margin: 11px 152px;
}
.last{
  flex-direction: column;
    height: 12vh;
    /* background-color: #f1f1f1!important; */
    background-color: black;
}
.heading{
  width:0%;
  padding:2px 1px;
}
.expcon0{
  height: 52vh;
 
  margin: -103px -26px;
  width: 333px;
  text-align: left;
    
}
.expcon00{
  height: 50vh;
  width: 89%;
  margin: -98px -12px;
  width: 349px;
  text-align: left;
    
}
h4{
  font-size: 20px;
    /* padding: 0px 1px; */
    margin: 16px -80px;
    width: 256px;
    text-align: left;
}
.image0{
  display: block;
  width: 368px;
  height: 41vh;
  margin: -13px -14px;
}
.image00{
  display: block;
  width: 361px;
  height: 41vh;
  margin: -13px -14px;
}
.main{
  height:132vh;
}
.main0{
  height:132vh;
}
.exp-con{
  padding:0px 0px;
}
.exp-con0{
  padding:0px 0px;
}
.explore{
  height: 105vh;
  width:94%;
  margin: 251px 15px;
}
.explore0{
  height: 55vh;
  width:94%;
  margin: 115px 15px;
}
/* */.para{
  font-size: 20px;
}
.para0{
  font-size: 20px;
}
/* .but{
  margin:146px 323px;
} */
/* */.btn2{ 
  margin: 232px -325px;
    font-size: 20px;
  }
  .btn20{ 
    margin: 232px -325px;
      font-size: 20px;
    }
h2{
  margin: 8px 4px;
    font-size: 32px;
}
h5{
  margin: 34px 7px;
}
.Button{
  margin: -31px 38px;
}
.Button00{
  margin: -31px 38px;
}
.but{
  margin: -300px 212px;
    padding: 43px 0px;
}
.but0{
  margin: -300px 212px;
  padding: 43px 0px;
}
/* .exp-con{
  margin: 10px 469px;
    padding: 36px 0px;
} */
.scholarship{
  height:200vh;
}
.image{
  width: 380px;
  height: 35vh;
  margin: -1px -55px;
  padding: 0px 0px;
}
.image1{
  width: 380px;
  height: 35vh;
  margin: -1px -55px;
  padding: 0px 0px;
}
.content {
  margin: -284px 23px;
}
.end{
  margin: 169px 23px;
}
.last{
  margin: 25px -13px;
}
.design {
  /* display: flex; */
  font-size: 20px;
  text-align: center;
  margin: 259px 31px;
  padding: 110px 26px;
  background-color: #bc087a;
  height: 42vh;
  width: 88%;
}
.form-container {
  height: 106vh;
  display: block;
  margin: 58px -11px;
  padding: 9px;
  /* background: #eee; */
  width: 104%;
}
.designin {
  /* display: flex; */
  font-size: 20px;
  text-align: center;
  margin: -162px -39px;
  padding: 192px 0px;
  width: 111%;
  background-color: #0d3273;
}
h3 {
  padding: 19px 8px;
  font-size: 24px;
  width: 88%;
  /* color: #000!important; */
  color: white;
  margin: -191px 22px;
  text-align: left;
}
.section{
  height: 70vh;
}
.notice{
  padding: 5px 3px;
}
/* .line
{    content: "";
  position: absolute;
  height: 4px;
  background: #e6ac16;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  width: 38px;
  z-index: 1;
  bottom: -1px;
  left: 50%;
  margin-left: -19px;} */
.art{
  margin:10px 10px;
  padding:0px 0px
}
.art1{
  margin:13px 164px;
  padding:0px 0px;
  border:3px solid #000;
  display:flex;
  width: 44%;
  background-color: #0d3273;
}
.sc1{
  /* color:#000; */
  font-size: 25px;
  margin: 3px 35px;
  color:white;
  
}
.sc1:hover{
  color:#000;
  background-color: white;
} 
.sc2:hover{
  color:#000;
  background-color: white;
} 
.sc2{
  color:white;
  font-size: 25px;
  margin: -1px 62px;
  padding: 1px 11px;
  border-left:3px solid #000 ;
  
}
/* .sc2:visited{
  color:#000
} */
.part1{
  margin:45px 23px;
  padding:0px 0px;
  height:30vh;
  width:45%;
  border:2px solid black;
}
.part2{
  margin:45px 23px;
  padding:0px 0px;
  height:30vh;
  width:45%;
  border:2px solid black;
}
.part3{
  margin:45px 23px;
  padding:0px 0px;
  height:30vh;
  width:45%;
  border:2px solid black;
}
.part4{
  margin:45px 23px;
  padding:0px 0px;
  height:30vh;
  width:45%;
  border:2px solid black;
}
.part5{
  margin:45px 23px;
  padding:0px 0px;
  height:30vh;
  width:45%;
  border:2px solid black;
}
.part6{
  margin:45px 23px;
  padding:0px 0px;
  height:30vh;
  width:45%;
  border:2px solid black;
}
.part7{
  margin:45px 23px;
  padding:0px 0px;
  height:30vh;
  width:45%;
  border:2px solid black;
}
.join2{
display: flex;
flex-wrap: wrap;
margin:6px 150px;
}
.division{
  margin: 3px 0px;
  padding: 0px 10px;
  border-bottom: 2px solid black;
}
.divpart{
  margin: -3px 0px;
  padding: 11px 13px;
  border-bottom: 2px solid black;
  background-color:  #0d3273;
  color:white;
}
.low{
  margin: -11px -3px;
  padding: 8px 10px;
  height: 11vh;
}
.divpart1{
  margin: 14px 0px;
  padding: 4px 225px;
  background-color: #0d3273;
}
.imp00{
  margin: 11px 0px;
  padding: 0px 10px;
}
.drop{
  padding:10px 10px;
  background-color:  #0d3273;
}
.reg001{
  background-color:  #0d3273;
}
.reg001:hover {
  background-color:  #0d3273;
}
.reg001:visited {
  background-color:  #0d3273;
}
.reg001:after{
  background-color:  #0d3273;
}
 /* @media screen and (max-width: 600px) {  */
.art{
  margin:0px 12px;
  padding:0px 0px;
  
}
.art1{
  margin: 12px -23px;
  /* padding: 0px 0px; */
  /* border: 3px solid #000; */
  /* display: flex; */
  width: 111%;
}
.head{
  margin: -4px 9px;
  padding: 0px 0px;

}
.sc2{
  margin:10px 10px;
  padding:0px 0px;
}
.join2{
  display: flex;
  flex-direction: column;
}
.part1{
  width: 592%;
  margin: 19px -160px;
}
.part2{
  width: 592%;
  margin: 19px -160px;
}
.part3{
  width: 592%;
  margin: 19px -160px;
}
.part4{
  width: 592%;
  margin: 19px -160px;
}
.part5{
  width: 592%;
  margin: 19px -160px;
}
.part6{
  width: 592%;
  margin: 19px -160px;
}
.part7{
  width: 592%;
  margin: 19px -160px;
}
.divpart1{
  margin: 14px -61px;
  /* padding: 12px 220px; */
  width: 44%;
  /* width: 89%; */
}
}
.art1{
  margin: 2px 10px;
  padding: 9px 0px; 
  border: 3px solid #000; 
  display: flex; 
  width: 99%;
  background-color: #dbdfe6;
  font-size: 18px;
}
.art1:hover{
  background-color: #393f49;
}
.divpart1{
  margin: 14px -61px;
  padding: 12px 220px; 
  width: 44%;
  width: 89%;
}
.join2{
  display: flex;
  flex-wrap: wrap;
  margin:6px 150px;
  }
  .part1{
    margin:45px 23px;
    padding:0px 0px;
    height:30vh;
    width:45%;
    border:2px solid black;
  }
  .part1{
    margin:45px 23px;
    padding:0px 0px;
    height:30vh;
    width:45%;
    border:2px solid black;
  }.part2{
    margin:45px 23px;
    padding:0px 0px;
    height:30vh;
    width:45%;
    border:2px solid black;
  }.part3{
    margin:45px 23px;
    padding:0px 0px;
    height:30vh;
    width:45%;
    border:2px solid black;
  }.part4{
    margin:45px 23px;
    padding:0px 0px;
    height:30vh;
    width:45%;
    border:2px solid black;
  }.part5{
    margin:45px 23px;
    padding:0px 0px;
    height:30vh;
    width:45%;
    border:2px solid black;
  }.part6{
    margin:45px 23px;
    padding:0px 0px;
    height:30vh;
    width:45%;
    border:2px solid black;
  }.part7{
    margin:45px 23px;
    padding:0px 0px;
    height:30vh;
    width:45%;
    border:2px solid black;
  }
  .division{
    margin: 3px 0px;
    padding: 0px 10px;
    border-bottom: 2px solid black;
  }
  .divpart{
    margin: -3px 0px;
    padding: 11px 13px;
    border-bottom: 2px solid black;
    background-color:  #0d3273;
    color:white;
  }
  .imp00{
    margin: 11px 0px;
    padding: 0px 10px;
  }
  .divpart1{
    margin: 14px 0px;
    padding: 4px 225px;
    background-color: #0d3273;
  }
  .low{
    margin: -11px -3px;
    padding: 8px 10px;
    height: 11vh;
  }
  .drop{
    padding: 8px 224px;
    margin: 21px 0px;
    background-color: #0d3273;
    font-size: 18px;
    font-weight: bold;
  }
  .sc1{
  /* color:#000; */
  font-size: 25px;
  margin: 3px 35px;
  color:white;
  
}
.sc1:hover{
  color:#000;
  background-color: white;
} 
.sc2:hover{
  color:#000;
  background-color: white;
} 
.sc2{
  color:white;
  font-size: 25px;
  margin: -1px 62px;
  padding: 1px 11px;
  border-left:3px solid #000 ;
  
}

